.side-menu-show,
.side-menu-hide {
    background-color: #313441;
    width: 12% !important;
    margin: 0 !important;
    padding: 0 !important;
    float: left !important;
    z-index: 1;
}

.logoIcon {
    height: 65px !important;
    width: 100% !important;
    /* margin: 0 11px !important; */
  }

.header h3 {
    color: white;
    margin: 40px 30px;
    line-height: 0.1;
    font-size: 26px;
}

.header h3:nth-child(2) {
    margin-left: 130px;
}

.header h4 {
    color: white;
}

.header h5 {
    color: white;
}
/* 
.ant-menu {
    background-color: #313441 !important;
    width: 100% !important;
    border-top: 1px solid #57585D !important;
    border-bottom: 1px solid #57585D !important;
    border-right: 0px solid #57585D !important;
    position: relative;
} */
/* 
.ant-menu-item {
    background-color: #313441 !important;
    color: #f0f2f5 !important;
    margin: 0 !important;
    border-top: 1px solid #57585D !important;
    border-bottom: 1px solid #57585D !important;
}

li.ant-menu-item.ant-menu-item-selected {
    background: #f0f2f5 !important;
    color: #313441 !important;
} */



.icon {
    position: relative;
    bottom: 2px;
}
